{
   "modules":
   [   
      {
         "name":"Modules",
         "path":"imgui/",
      },
      {
         "name":"Shader",
         "path":"shader/",
      } 
   ],
   
   "layouts":
   [   
      {
         "name":"Layout",
         "path":"layout/",
      }
   ],
   
   "interface":{
      "position":{"x":10, "y":10}
   }
   
}